body {
	background-color: #257099;
}

.main-nav {
  background: #fff;
  height: 150px;
  z-index: 150;
  margin-bottom: 40px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
}

li {
	display: inline-block;
	padding: 10px;
	float: right;
}
.logoImg {
	height: 150px;
	width: 200px;
}
#user-display
.user-pic {
	height: 100%;
	width: 190px;
}
h1 {
	text-align: center;
	margin: 0px;
	width: 200px;
	float: right;
}

h2 {
	text-align: center;
	color: #000066;
}
.activities {
	text-align: center;
	background-color: grey;
	border: 2px solid;
	height: 500px;
	padding: 0px;
	cursor: pointer;
}

.activities:hover {
	color: blue;
	opacity: 0.4;
}
ul.activities {
	list-style: none;
	float: none;
	display: block;
	padding: 0px;
}
ul.activities li {
	display: list-item;
	width: 100%;
}
.newActivity {
background-color: blue;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  height: 50px;
  padding: 7px 20px 9px;
  margin: .5em .5em .5em 0;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
  border-radius: 2px;
  box-shadow: inset rgba(255,255,255,0.3) 1px 1px 0;
  overflow: hidden;  
}
.act {
	overflow: hidden;
}
/*ul {
display: inline-block;
width: 100%;
overflow: hidden;
}
ul.activities {
list-style: none;
}
ul.activities li {
display: block;
background: blue;
float: left;
width: 100%;
height: 10px;
}
ul.activities li.new {
color: blue;
opacity: 0;
}*/
