body{
	margin: 0;
	background-color: #527BE3;
}

ul li{
	list-style-type: none;
}

.mainContent{
	padding: 10px 0px;
	background-color: gray;
}

.manageBox, .badgesBox{
	background-color: blue;
	padding: 10px 20px;
}
.personalBox, .positiveBox{
	background-color: gray;
	padding: 10px 20px;
}

h2{
	text-align: center;
}
h3{
	text-align: center;
}
h1{
	text-align: center;
}
div{
	text-align: center;
}
li{
	text-align: center;
}
ul{
	list-style-type: none;
}