
body {
	background-color: #527BE3;
}
h2{
	text-align: center;
}
h3{
	text-align: center;
}
h1{
	text-align: center;
}
div{
	text-align: center;
}
li{
	text-align: center;
}
ul{
	list-style-type: none;
}